<div class="vertical-center pull-left" style="width: 40%">
    <div class="row row-centered margin5">
        <div class="col-xs-12" style="margin: 2%" ng-hide="type == 1">
            <div id="personalDiv">
                <div id="personalHeader" class="padding5">Personal Details</div>
                <div class="padding10" ng-click="showForm(1)">
                    <span class="padding5 personalDetail">Add Details</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin: 2%" ng-hide="type == 2">
            <div id="propertyDiv">
                <div id="propertyHeader" class="padding5">Property Details</div>
                <div class="padding10" ng-click="showForm(2)">
                    <span class="propertyDetail padding5">Add Details</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin: 2%" ng-hide="type == 3">
            <div id="workDiv">
                <div id="workHeader" class="padding5">Work Details</div>
                <div class="padding10" ng-click="showForm(3)">
                    <span class="padding5 workDetail">Add Details</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin: 2%" ng-hide="type == 4">
            <div id="otherDiv">
                <div id="otherHeader" class="padding5">Other Details</div>
                <div class="padding10" ng-click="showForm(4)">
                    <span class="padding5 otherDetail">Add Details</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form" class="pull-right formDiv">
    <form name="loanForm" ng-submit="submitFrom()">
        <div class="title-card">
                <span>
                    <h4>{{user.title}}</h4>
                </span>
        </div>
        <div class="padding5 card">
                <span >
                    <table id="form">
                        <tr>
                            <td>Name </td>
                            <td><input type="text" ng-model="user.name" id="name" ng-value="user.name"
                                       placeholder="Your Name" name="name" validator="required"
                                       required-error-message="Required"></td>
                        </tr>
                        <tr>
                            <td>Number </td>
                            <td><input type="number" ng-model="user.number" id="number" ng-value="user.number"
                                       placeholder="Contact Number" name="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
                        </tr>
                        <tr>
                            <td>Email </td>
                            <td><input type="email" ng-model="user.email" id="email" ng-value="user.email"
                                       placeholder="Email Address" name="email" validator="required"
                                       required-error-message="Required"></td>
                        </tr>
                    </table>
                </span>
        </div>
        <div class="padding5 card">
                <span>
                    <table>
                        <tr>
                            <td>Amount </td>
                            <td><input type="number" ng-model="user.amount" id="amount" ng-value="user.amount"
                                       placeholder="Loan Amount" name="amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-change="calculate();"></td>
                        </tr>
                        <tr>
                            <td>Interest Rate </td>
                            <td><input type="number" ng-model="user.interest" id="interest" ng-value="user.interest"
                                       placeholder="Interest Rate" name="interest" ng-change="calculate();"></td>
                        </tr>
                        <tr>
                            <td>Duration </td>
                            <td><input type="number" ng-model="user.years" id="years" ng-value="user.years"
                                       placeholder="Duration in years" name="years" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-change="calculate();"></td>
                        </tr>
                    </table>
                </span>
        </div>
        <div class="padding5 card">
                <span>
                    <table>
                        <tr>
                            <td>Monthly Payment </td>
                            <td>{{user.month_payment}}</td>
                        </tr>
                        <tr>
                            <td>Total Payment </td>
                            <td>{{user.total_payment}}</td>
                        </tr>
                        <tr>
                            <td>Total Interest </td>
                            <td>{{user.total_interest}}</td>
                        </tr>
                    </table>
                </span>
        </div>
        <div class="padding5 card centerDiv" id="response_div" ng-show="responseShow != 0">
            {{message}}
        </div>
        <div class="padding5 card">
            <input type="submit" id="submit" name="submit" value="Contact" class="button-loan pull-right">
            <input type="button" id="cancel" name="cancel" value="Cancel" class="button-loan" ng-click="cancelForm()">
        </div>
    </form>
</div>
