<div class="vertical-center" >
    <div class="row row-centered margin5">
        <div class="col-xs-6">
            <div id="personalDiv">
                <div id="personalHeader" class="padding5">Personal Details</div>
                <div class="padding10" ng-click="showForm(1)">
                    <span class="padding5 personalDetail">Add Details</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="propertyDiv">
                <div id="propertyHeader" class="padding5">Property Details</div>
                <div class="padding10" ng-click="showForm(2)">
                    <span class="propertyDetail padding5">Add Details</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-centered margin5">
        <div class="col-xs-6">
            <div id="workDiv">
                <div id="workHeader" class="padding5">Work Details</div>
                <div class="padding10" ng-click="showForm(3)">
                    <span class="padding5 workDetail">Add Details</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="otherDiv">
                <div id="otherHeader" class="padding5">Other Details</div>
                <div class="padding10" ng-click="showForm(4)">
                    <span class="padding5 otherDetail">Add Details</span>
                </div>
            </div>
        </div>
    </div>
</div>